<link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
<mat-toolbar color="primary">
    <mat-icon>menu</mat-icon>
    <span class="tittle">Your Daily News</span>
    <span class="fill-remaining-space"></span>
    <button mat-icon-button class="social">
        <a href="https://gr.linkedin.com/in/efstathios-kaloutsidis" target="blank">
            <fa-icon [icon]="['fab', 'linkedin']" size="lg" [fixedWidth]="true"></fa-icon>
        </a>
    </button>
    <button mat-icon-button class="social">
        <a href="https://github.com/Stathis-Kal" target="blank">
            <fa-icon [icon]="['fab', 'github']" size="lg" [fixedWidth]="true"></fa-icon>
        </a>
    </button>
</mat-toolbar>