.flex-container {
    display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: flex-start;
}

@media all and (max-width: 800px) {
    .flex-container {
        justify-content: flex-start;
    }
}

.flex-item {
    max-width: 400px;
    margin-top: 20px;
}

.news-btn a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: black;
}