<mat-card class="clearfix">

    <mat-card-header>
        <mat-card-title>Search Parameters</mat-card-title>
    </mat-card-header>

    <div class="flex-criteria-container">

        <mat-form-field appearance="outline">
            <mat-label>Search for..</mat-label>
            <input matInput placeholder="e.g. Angular">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="standard">
            <mat-label>Select a country <mat-icon matSuffix>public</mat-icon>
            </mat-label>
            <mat-select>
                <mat-option>None</mat-option>
                <mat-option *ngFor="let country of countries" [value]="country"> {{ country }} </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="standard">
            <mat-label>Select a category <mat-icon matSuffix>library_books</mat-icon>
            </mat-label>
            <mat-select>
                <mat-option>None</mat-option>
                <mat-option *ngFor="let category of categories" [value]="category"> {{ category }} </mat-option>
            </mat-select>
        </mat-form-field>

        <button mat-raised-button matTooltip="Submit the search criteria" color="accent">Ready to search <mat-icon
                matSuffix>done</mat-icon>
        </button>

        <button mat-mini-fab matTooltip="Reset the search criteria">
            <mat-icon>refresh</mat-icon>
        </button>

    </div>

</mat-card>



<div class="flex-container" fxLayout.xs="column">

    <div class="flex-item">

        <mat-card class="news">

            <mat-card-header>
                <img mat-card-avatar src="../../../assets/768px-Internet-news-reader.svg.png" alt="news_avatar">
                <mat-card-title>Is Bitcoin Still Relevant Today?</mat-card-title>
                <mat-card-subtitle>By Adam Gottlieb</mat-card-subtitle>
            </mat-card-header>

            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu">

            <mat-card-content>
                <p>Conceptualized in 2009, bitcoin is a digital currency that leverages peer-to-peer technology
                    to facilitate instant payments. Its value dramatically plummeted over the past couple of years, but
                    it
                    seems
                    that this cryptocurrency is ready to put this turbulent p…
                </p>
            </mat-card-content>

            <mat-card-actions>

                <button class="news-btn" type="button" mat-raised-button color='accent'>
                    <a href="https://frugalentrepreneur.com/2020/02/is-bitcoin-still-relevant-today/" target="_blank">
                        Read more
                    </a>
                </button>

            </mat-card-actions>

        </mat-card>

    </div>

</div>